In [5]:
import pymongo
import pandas as pd

In [6]:
client = pymongo.MongoClient()
db = client['sensor_database']
collection = db['sensor_collection']

cursor = collection.find({})

df = pd.DataFrame(list(cursor))
client.close()

In [7]:
df.drop(df.columns[[0]], axis=1, inplace=True)
df

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0,0,0,6259559
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0,0,0,6183645
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0,0,0,6987759
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0,0,0,7602960
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0,0,0,7158964
...,...,...,...,...,...,...,...
136471,2020-06-17 23:45:00,4136001,q49J1IKaHRwDQnt,0,0,4157,520758
136472,2020-06-17 23:45:00,4136001,rrq4fwE8jgrTyWY,0,0,3931,121131356
136473,2020-06-17 23:45:00,4136001,vOuJvMaM2sgwLmb,0,0,4322,2427691
136474,2020-06-17 23:45:00,4136001,xMbIugepa2P7lBB,0,0,4218,106896394
136475,2020-06-17 23:45:00,4136001,xoJJ8DcxJEcupym,0,0,4316,209335741